@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

/* GLOBAL */
* {
  box-sizing: border-box;
}

body, body * {
  color: var(--neutral-0);
  font: var(--text-5);
}

body {
  /* background: var(--neutral-900) center / cover no-repeat url("images/background-mobile.png"); */
  background-image: url("images/pattern-squiggly-line-bottom-mobile-tablet.svg"), url("images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom left, center;
  background-size: 250px auto, cover;
  /* margin:0; */
  /* min-height: 100vh; */
}

/* Variables */
:root {
    /* Colors */
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);   
    --purple: #814793;
    --light-purple: #bc67d6;
    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);
    --gradient: linear-gradient(90deg, hsl(7, 86%, 67%) 0%, hsl(0, 0%, 100%) 100%);
    --transparent-8: rgba(255, 255, 255, 0.08);
    --transparent-20: rgba(255, 255, 255, 0.2);
    
    /* Typography */
    --letter-spacing-1: -1;
    --text-1: 800 60px/1.1 "Inconsolata", monospace;
    --text-1-mobile: 800 30px/1.1 "Inconsolata", monospace;
    --text-2: 700 40px/1.1 "Inconsolata", monospace;
    --text-2-mobile: 700 24px/1.1 "Inconsolata", monospace;
    --text-3: 700 30px/1.1 "Inconsolata", monospace;
    --text-3-mobile: 700 22px/1.1 "Inconsolata", monospace;
    
    --letter-spacing-2: -0.5;
    --text-4: 500 24px/1.2 "Inconsolata", monospace;
    --text-4-mobile: 500 20px/1.2 "Inconsolata", monospace;
    --text-5: 400 20px/1.1 "Inconsolata", monospace;
    --text-5-medium: 500 20px/1.1 "Inconsolata", monospace;
    
    --letter-spacing-3: -0.3;
    --text-5-extrabold: 800 20px/1.1 "Inconsolata", monospace;

    --letter-spacing-4: 0;
    --text-6: 500 18px/1.2 "Inconsolata", monospace;
    --text-6-mobile: 500 14px/1.2 "Inconsolata", monospace;
    
    --letter-spacing-5: -0.2;
    --text-7: 400 12px/1.2 "Inconsolata", monospace;
    
    /* Spacing */
    --spacing-0: 0;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    /* Radius */
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
}

/* UTILITY */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}

.neutral-300 {
  color: var(--neutral-300);
}

/* FLEXBOX */
.flex {
  display: flex;
}

  .flex-col {
    flex-direction: column;
  }

    .flex-center {
      align-items: center;
      justify-content: center;
    }

      .space-between {
        justify-content: space-between;
      }

        .gap-1 {
          gap: 0.5rem;
        }

/* SECTIONS */
main {
  margin: 0.5rem 1rem;
}

/* TEXT */
.title {
  font: var(--text-1-mobile);
  text-align: center;
  font-size: 2.6rem;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.fancy {
  font-family: "Updock", cursive;
  text-shadow: 5px 5px 5px var(--light-purple);
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.info-text {
  font: var(--text-7);
}

/* LOGO */
#logo {
  height: 80px;
  width: auto;
}

/* FORM */

  /* DROP ZONE */
  #drop-zone {
    padding: 1em;
    border: 1px dashed var(--neutral-500);
    border-radius: var(--radius-12);
    cursor: pointer;
  }

    #drop-zone, #drop-zone *, input {
      background-color: #19173f;
    }

      .drop-zone-icon {
          background-color: #312f53 !important;
          padding: 0.5rem;
          border-radius: var(--radius-6);
          width: 50px;
          height: 50px;
        }

        .drop-text {
          font: var(--text-6-mobile);
        }

/* BUTTONS */
.button {
  margin: 2rem 0 5rem 0;
  background: var(--orange-500);
  border: 1px solid var(--orange-500);
  color: var(--neutral-900);
}

  .button:hover {
    background: var(--orange-700);
    border: 1px solid var(--orange-700);
    cursor: pointer;
  }

          #change-img-btn, #remove-img-btn {
            border: none;
            background-color: #373351;
            color: var(--neutral-300);
            padding: 0.5rem;
            border-radius: var(--radius-4);
            font: var(--text-7);
            margin-top: 1rem;
          }

  /* AVATAR PREVIEW */
  .avatar-preview {
    border-radius: var(--spacing-150);
    width: 60px;
    height: 60px;
  }

  /* LABELS + INPUTS */
  .form-label {
    margin: 2rem 0 1rem 0;
    display: block;
  }

    input {
      border-radius: var(--radius-12);
      width: 100%;
      border: 1px solid var(--neutral-500);
      background-color: var(--transparent-8);
      height: 54px;
      padding: 1rem;
    }

      input::placeholder {
        color: var(--neutral-300);
      }

        input:not(.button):hover {
          background-color: var(--transparent-20);
          cursor: pointer;
        }

          input:focus {
            box-shadow: 0 0 5px var(--neutral-900);
            border: inset 1px var(--neutral-500);
          }

            input::user-invalid {
              border: 1px solid var(--orange-500);
              color: orange;
            }

/* FOOTER */
.attribution, .attribution a {
  font: var(--text-7);
  text-align: center;
}

  .attribution a {
    color: var(--light-purple);
  }